@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@layer base {
	html,
	body {
		padding: 0;
		margin: 0;
		font-family: -apple-system, 'Montserrat', sans-serif, 'Atyp Display',
			Proxima Nova, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
			Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
			sans-serif;
		scroll-behavior: smooth;
		box-sizing: border-box;
		background-color: #ffffff;
		font-family: 'Montserrat', sans-serif;
		overflow-x: hidden;
	}

	button:empty,
	li:empty,
	ul:empty,
	h1:empty,
	h2:empty,
	h3:empty,
	h4:empty,
	h5:empty,
	h6:empty {
		display: none !important;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat', sans-serif;
	}

	:root {
		--primary-color: ;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Montserrat', sans-serif;
	}

	html {
		scroll-behavior: smooth;
	}

	p {
		font-family: 'Montserrat', sans-serif;
	}
}

.custom-container {
	max-width: 1310px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	z-index: 99;
}
